.select {
	COLOR: #a5000a
}
.std {
	FONT-SIZE: 9px; COLOR: #a5000a
}
.selpage {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dislink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ltab {
	BACKGROUND-COLOR: #ffffff
}
.dtab {
	BACKGROUND-COLOR: #f5f5f5
}
.tdlist {
	PADDING-LEFT: 10px; COLOR: #a5000a; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: right
}
.shead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.lhead {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tablabel {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tablink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tablink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tablink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.stext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sltext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mtext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copy {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.seltext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.label {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.blink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.blink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.vlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.vlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.vlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.slink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.slink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.slink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.author:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.author:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.author:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.xslink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.xslink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.xslink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.xsvlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.xsvlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.xsvlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.clink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.clink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.clink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.menu:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.mmenu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.cats:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cats:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.cats:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.tdsort:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.tdsort:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.tdsort:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.theme:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.theme:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.theme:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.bcom {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #dddddd 1px solid; CURSOR: hand; COLOR: #999999; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.bred {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a5000a
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
LI {
	COLOR: #a5000a; LINE-HEIGHT: 150%
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.tableBorder {
   BORDER-RIGHT: #dddddd 1px solid;
   BORDER-BOTTOM: #dddddd 1px solid
}

.alignCenter {
	TEXT-ALIGN: center;
}

.pictureHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.errorHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #a5000a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.align-top {
  vertical-align: top;
}

.errorMessage {
	color: #E90649
}

